node_modules/
client/node_modules/
client/dist/
.env
public/uploads/*
!public/uploads/ariq.jpg
!public/uploads/nadhif.jpeg
!public/uploads/masmur.jpeg
!public/uploads/dani.jpeg
!public/uploads/default-avatar.png
!public/uploads/main-photo.JPG

"TUGAS BESAR BBK3CAB3 - KOMPUTASI AWAN 2026 Kirim.md"
PANDUAN_DEPLOY_AWS.txt
PANDUAN_RUN_LOKAL.txt
panduanTubes.md
*.md
*.txt
!README.md
